.app-container { 
    display: flex;
    justify-content: center;
    background-color: #959595;
    height: 100vh;
    padding-top: 50px;
}

.todo-app {
    position: relative;
    width: 400px;
    height: 80vh;
    min-height: 500px;
    padding: 28px 18px;
    background-color: #ffffff;
    border-radius: 8px;
}

.todo-app-header {
    text-align: center;
    font-size: 20px;
}

.main-add-btn {
    position: absolute;
    left: calc(50% - 35px);
    bottom: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #56a1ee;
    color: #ffffff;
    font-size: 22px;
}