.app-container { 
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #959595;
    height: 100vh;
    padding-top: 50px;
}

.todo-app {
    position: relative;
    width: 400px;
    height: 80vh;
    min-height: 500px;
    padding: 28px 18px;
    background-color: #ffffff;
    border-radius: 8px;
}

.todo-app-header {
    text-align: center;
    font-size: 20px;
}

.main-add-btn {
    position: absolute;
    left: calc(50% - 35px);
    bottom: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #56a1ee;
    color: #ffffff;
    font-size: 22px;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000040;
}

.modal-container {
    position: relative;
    width: 500px;
    height: 200px;
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;

    & input {
        width: 100%;
        font-size: 18px;
        padding: 6px;
        color: #313131;
        font-weight: 100;
        border-radius: 4px;
    }

    & .add-task-btn {
        margin-top: 20px;
        padding: 10px 18px;
        background-color: #8ce156;
        color: #ffffff;
    }

    & .close-btn {
        position: absolute;
        right: 12px;
        top: 12px;
        background-color: transparent;
    }
}